.detail-wrap {
    padding: 0px 160px;
    height: 69.5vh;
}

.btn-back {
    margin-top: 27px;
    display: flex;
    width: 117px;
    align-items: center;
    padding: 9.5px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--body_color);
    background: var(--body_background);
    border: 1px solid #94A3B8;
    border-radius: 10px;
}

.btn-back-icon {
    background: url(../../../visual/icons/arrow.svg) center center/cover no-repeat;
    width: 6px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--body_background);
}

.btn-back:hover {
    background: #F1F5F9;
}

.detail-header {
    padding-top: 13px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--body_color);
}

.detail-subheader {
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: var(--body_color);
}

.detail-text {
    padding-top: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--body_color);
}