.login-header {
    padding-top: 62px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #1E293B;
    text-align: center;
}
.login-header-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #EF4444;
}


.login-form-block {
    margin: 0 auto;
    width: 350px;
    margin-top: 44px;
}

.login-form-header-block {
    display: flex;
    justify-content: center;
}

.login-form-header {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #64748B;
}

.login-form-subheader {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


.login-form-field {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #475569;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 13px 20px;
    width: 350px;
}

.form-error {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 13px 20px;
    width: 350px;
    color: #EF4444;
    background: #FCA5A5;
}

.text-error {
    color: #EF4444;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.login-form-field::placeholder {
    color: #475569;
}

.login-form-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 26px;
    background: #1E40AF;
    border-radius: 10px;
    width: 350px;
    padding: 11px;
}

.login-form-link {
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #4F46E5;
}