.main-user-wrap {
    padding: 40px 0;
}

.main-user-block {
    display: flex;
}

.main-user-photo {
    background: url(../../../visual/icons/user.svg) center center/contain no-repeat;
    width: 133px;
    height: 133px;
}

.main-user-info {
    padding-left: 43px;
}

.main-user-info-name {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #1E293B;
}

.main-user-info-addres {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #334155;
}

.main-user-info-age {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #334155;
}

.main-user-info-health {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #334155;
}

.main-privileges-wrap {
    margin-top: 40px;
}

.main-privileges-header {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #1E293B;
}

.main-housing-benefits-wrap {
    margin-top: 33px;
}

.main-housing-benefits-block {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-btn-block {
    display: flex;
}

.main-housing-benefits-header {
    margin-top: 33px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #1E293B;
}

.main-housing-benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #334155;
}

.main-info-complite {
    margin-top: 5px;
    text-align: left;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    background: #93C5FD;
    border-radius: 10px;
    width: 135px;
}

.main-info-try {
    margin-top: 5px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    background: #22C55E;
    border-radius: 10px;
    width: 166px;
}

.main-info-pending {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    background: #F59E0B;
    border-radius: 10px;
    width: 170px;
}

.main-info-broken {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    width: 140px;
    background: #DC2626;
    border-radius: 10px;
}

.main-btn-more {
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1E293B;
    background: #FFFFFF;
    border: 1px solid #94A3B8;
    border-radius: 10px;
    vertical-align: middle;
}

.main-btn-more:hover {
    background: #94A3B8;
}

.main-btn-application {
    cursor: pointer;
    padding: 10px 20px;
    background: #1E40AF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    vertical-align: middle;
}

.main-btn-application:hover {
    background: #1E3A8A;
}