.form-card-block {
    display: flex;
    flex-wrap: wrap;
}

.form-block {
    position: relative;
}

.form-header {
    padding-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #1E293B;
}

.form-subheader {
    padding-top: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #1E293B;
}

.form-card-wrap {
    display: flex;
    margin: 30px;
    width: 540px;
    height: 160px;
    border: 1px solid #F8FAFC;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.form-card-info-wrap {
    width: 445px;
}

.form-card-icon-access {
    margin: 20px;
    background: url(../../../visual/icons/acces.svg) center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

.form-card-icon-denied {
    margin: 20px;
    background: url(../../../visual/icons/denied.svg) center center/contain no-repeat;
    width: 40px;
    height: 40px;
}

.form-card-info-subheader-access {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1E293B;
}

.form-card-info-subheader-denied {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1E293B;
}


.form-card-info-header {
    padding-top: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #1E293B;
}

.form-card-info-time {
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1E293B;
}

.form-card-info-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #1E40AF;
}

.form-card-btn-block {
    display: flex;
    justify-content: center;
    padding: 82px 0 104px;
}

.btn-added:hover {
    background: #1E3A8A;
}

.btn-cancel:hover { 
    background: #F1F5F9;
}

.btn-cancel {
    display: inline-block;
    padding: 8.5px 101px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1E293B;
    background: #FFFFFF;
    border: 1px solid #94A3B8;
    border-radius: 10px;
}

.btn-added {
    margin-left: 30px;
    padding: 8.5px 64.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #1E40AF;
    border-radius: 10px;
    border: none;
}

.access-wrap {
    display: none;
    padding: 210px 370px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}
.access-wrap-open {
    display: block;
    padding: 210px 370px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}

.access-block {
    width: 700px;
    height: 511px;
    padding: 22px 122px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.access-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #1E293B;
}

.access-icon {
    background: url(../../../visual/icons/acces.svg) center center/cover no-repeat;
    width: 66px;
    height: 66px;
    margin: 36px auto;
}

.access-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #1E293B;
}

.access-btn-back {
    padding: 8.5px 51px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #1E40AF;
    border-radius: 10px;
    width: 255px;
    text-align: center;
    margin: 30px auto 0;
    animation: big-small 1s ease-in-out infinite;
}

.access-btn-back:hover {
    background: #1E3A8A;
}

.access-btn-back:active {
    scale: 0.5px;
}

@keyframes big-small {
    0%, 30% {
        scale: 1;
    }

    30%, 99% {
        scale: 1.05;
    }

    99%, 100% {
        scale: 1;
    }
}

@media (max-width:320px) {
    .form-block {
        padding: 6px 10px;
    }

    .form-header {
        padding-top: 0px;
        font-size: 24px;
        line-height: 31px;
    }

    .form-subheader {
        font-size: 14px;
        line-height: 18px;
    }

    .form-card-wrap {
        width: 300px;
        flex-direction: column;
        position: relative;
        margin: 20px 0 0;
        padding: 15px;
    }

    .form-card-info-wrap {
        width: 300px;
    }

    .form-card-icon-access, .form-card-icon-denied {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -7px;
        left: -7px;
    }

    .form-card-info-subheader-access, .form-card-info-subheader-denied {
        font-size: 12px;
        line-height: 16px;
        margin-left: 25px;
    }

    .form-card-info-header {
        font-size: 18px;
        line-height: 23px;
    }

    .form-card-info-time {
        font-size: 11px;
        line-height: 14px;
    }

    .form-card-info-link {
        margin-top: 8px;
    }

    .form-card-btn-block {
        padding: 82px 0px 0px;
        flex-direction: column;
    }

    .btn-cancel {
        font-size: 16px;
        line-height: 21px;
        text-align: center;
    }

    .btn-added {
        font-size: 16px;
        line-height: 21px;
        margin: 20px 0 48px;
    }
}