@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

span {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}