@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  transition: all 0.1s ease-in-out;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
  
[data-theme="dark"] {
  --body_background: #1E293B;
  --body_color: #fff !important;
  --header-background:  #0F172A;
  --footer-background:  #0F172A;
}

[data-theme="light"] {
  --body_background: #fff;
  --body_color: #000 !important;
  --header-background: #1E3A8A;
  --footer-background: #1E3A8A;
}
  
  
a {
  display: block;
  text-decoration: none;
}

span {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}